<!DOCTYPE html>
<html>
<head>
	<title>
		KEAN Health Tracker
	</title>
	<link rel="stylesheet" type="text/css" href="/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

</head>
<body>

    <div id = "Search">
        <p class="header">Upload Logs</p>
            <p2 class="log" >Please Wait... Data is being updated and inserted</p2><br>
            <p2 class="log" >You will be redirected automatically!</p2>
    </div>

    <meta http-equiv="Refresh" content="0; url='/upload/log'" />


</body>
</html>